body{
  margin: auto;
}

.form{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  width: 500px;
 
}
.App{
  display: flex;
  justify-content: center;
  padding-top: 500px;
}
.first {
  color: red;
  display: flex;
  justify-content: flex-start;
}
.folderList {
 display: flex;
  margin-left: 50px;
}
.btn {
height: 55px;
}
